<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>Sato Audio - Recent Works</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="icon" href="./favicon.png">
  </head>
  <body class="text-red-500">
    <div class='bg-txtbg'>
        <div class='bg-snack h-[85vh] bg-top bg-cover'>
            <div class='h-1'></div>
    
            <div class='px-[9%] mt-[6%] mb-[2%]'>
            <text class='rounded text-white text-[56px] px-2 bg-txtbg xhover:text-hovwhite'>Recent Works</text>
            
            <div class='text-white px-[22px] text-[25px] px-[22px] mt-[30px] mb-[20px] hover:text-hovwhite'>
                <a class='px-[5px] rounded pb-[2.5px] bg-txtbg'target='_blank' href="">Integrating Digital Signal Processing into Acoustic
                Instruments <br> in More Natural, Musical Ways - Grey Sato</a>
            </div>
            
            <div class='text-white px-[22px] text-[25px] px-[22px] mt-[30px] mb-[20px] hover:text-hovwhite'>
                <a class='px-[5px] rounded pb-[2.5px] bg-txtbg'target='_blank' href="https://www.youtube.com/watch?v=lBZfyoSMixI">Kind of Weird || Raymond Chen</a>
                </div>
    
            <div class='text-white px-[22px] text-[25px] px-[22px] mt-[30px] mb-[20px] hover:text-hovwhite'>
                <a class='px-[5px] rounded pb-[2.5px] bg-txtbg'target='_blank' href='https://www.youtube.com/watch?v=3-CPrPzZ8lo'>Retrograde || Blue Science</a>
                </div>

            <div class='text-white px-[22px] text-[25px] px-[22px] mt-[30px] mb-[20px] hover:text-hovwhite'>
                <a class='px-[5px] rounded pb-[2.5px] bg-txtbg'target='_blank' href='https://www.youtube.com/watch?v=y882_eo0HgQ&t=603s'>Lids For Your Ears || Blue Science</a>
                </div>
            
            <div class='text-white px-[22px] mt-[15px] text-[25px] mt-[30px] mb-[20px]'>
                <a class="bg-txtbg px-[5px] rounded pb-[2.5px] hover:text-hovwhite"  href="./">| home page |</a>
                </div>
            
            <div class='h-1'>
                </div>
            </div>
        </div>    
        
        <div class='h-[15vh]'></div>
            <div class='flex align-top inline-block justify-center'>
                <a class='hover:text-hovwhite p-2 flex justify-center text-white' target='#' href='https://www.instagram.com/satotoilets/'>Instagram</a>
                <div class='p-[1px]'></div>
                <a class='hover:text-hovwhite p-2 flex justify-center text-white' target='#' href='https://www.youtube.com/channel/UCTeOt2LoTTyWhUkbgz4l0wA'>YouTube</a>
            </div>
            <a class='text-white pb-[40px] hover:text-hovwhite flex justify-center'href='mailto:grey@sato.audio'>grey@sato.audio</a>
    
    </div>
  </body>
</html>

