name: Build and deploy this site to GitHub Pages

on:
  push:
    branches:
      - new-main
      - main

jobs:
  github-pages:
    runs-on: ubuntu-latest
    steps:
      - name: Install OS dependencies
        run: sudo apt-get update && sudo apt-get install -y build-essential protobuf-compiler ruby-dev
      - uses: actions/checkout@v2
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.1
          bundler-cache: true
      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: '18'
      - run: npm install
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: 3.1
          bundler-cache: true
      - name: Build site
        run: |
          bundle install --verbose
          bundle exec jekyll build --trace
      - name: Deploy
        uses: peaceiris/actions-gh-pages@v4
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./_site

permissions:
  contents: write
  